!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title My First Bitstarter
    link(type='text/css', rel='stylesheet', href='https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-2.3.2.css')
    style(type='text/css')
      body {
      padding-top: 20px;
      padding-bottom: 40px;
      }
      .container {
      width: 960px;
      }
      p.lead {
      padding-top: 15px;
      }
      .navigation, .pitch, .section1, .section2, .faq, .footer {
      padding: 10px 0px 10px 0px;
      }
      .video, .thermometer, .order, .social {
      border: 1px dotted;
      text-align: center;
      }
      .video {
      /* Internal borders have 1px width, thus need to add 4 x 1px to 120px. */
      height: 124px;
      line-height: 124px;
      }
      .thermometer, .order, .social {
      /* line-height to vertically center: http://phrogz.net/css/vertical-align/index.html */
      height: 40px;
      line-height: 40px;
      }
      div.row {
      border: 1px solid;
      }
  body
    .container
      .row.heading
        .span12
          h1 ArrVis
      .row.subheading
        .span12
          p.lead DNA Microarray Visualization Tool
      .row.pitch
        .span6
           a(href='two-d')
             img(src='images/two-d-thumbnail.png', alt='Two-Dimensional Gene Expression Plot')
        .span6
           a(href='dist')
             img(src='images/dist-thumbnail.png', alt='Distance-Focused Gene Expression Plot')
      .row.pitch
        .span6
           a(href='overlay')
             img(src='images/overlay-thumbnail.png', alt='Overlay-Focused Gene Expression Plot')
        .span6
           a(href='three-d')
             img(src='images/three-d-thumbnail.png', alt='Three-Dimensional Gene Expression Plot')
